In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('01_보이스피싱.csv', encoding='cp949')

In [3]:
df

,접수완료일시,경찰청구분,사건,신고자성별,발생주소,경도,위도
0,2020-01-02 15:09:28,13,215,2.0,NaN,127.404663,36.341685
1,2020-01-02 12:33:51,13,215,1.0,대전광역시 동구 용전동(행정:용전동) 220,127.430177,36.336496
2,2020-01-02 13:22:04,13,215,1.0,대전광역시 서구 도안동(행정:가수원동) 1564,127.348042,36.310258
3,2020-01-02 10:46:31,13,215,2.0,대전광역시 유성구 대정동(행정:진잠동) 1-4,127.336373,36.317773
4,2020-01-02 13:31:40,13,215,1.0,대전광역시 서구 도안동(행정:가수원동) 1564,127.349462,36.310193
...,...,...,...,...,...,...,...
45702,2023-01-15 19:57:22,19,215,2.0,NaN,NaN,NaN
45703,2023-01-16 11:26:20,19,215,2.0,NaN,NaN,NaN
45704,2023-01-18 16:17:02,13,215,2.0,대전광역시 대덕구 신일동 (행정:목상동 ) 1687-6,127.406900,36.437929
45705,2023-01-17 12:32:37,19,215,2.0,충청남도 아산시 배방읍 장재리(배방읍 ) 1767,127.107875,36.797009
45706,2023-01-17 15:50:47,19,215,2.0,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45707 entries, 0 to 45706
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   접수완료일시  45707 non-null  object
 1   경찰청구분   45707 non-null  int64
 2   사건      45707 non-null  int64
 3   신고자성별   45707 non-null  float64
 4   발생주소    36836 non-null  object
 5   경도      39897 non-null  float64
 6   위도      39897 non-null  float64
dtypes: float64(3), int64(2), object(2)
memory usage: 2.4+ MB

* 데이터 프레임의 '접수완료 일시'의 type을 datetime 으로 변경

In [5]:
df['접수완료일시']=pd.to_datetime(df['접수완료일시'],format='%Y-%m-%d %H:%M:%S')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45707 entries, 0 to 45706
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   접수완료일시  45707 non-null  datetime64[ns]
 1   경찰청구분   45707 non-null  int64
 2   사건      45707 non-null  int64
 3   신고자성별   45707 non-null  float64
 4   발생주소    36836 non-null  object
 5   경도      39897 non-null  float64
 6   위도      39897 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(1)
memory usage: 2.4+ MB

In [6]:
df['date']=df['접수완료일시'].dt.date
df.head()

,접수완료일시,경찰청구분,사건,신고자성별,발생주소,경도,위도,date
0,2020-01-02 15:09:28,13,215,2.0,NaN,127.404663,36.341685,2020-01-02
1,2020-01-02 12:33:51,13,215,1.0,대전광역시 동구 용전동(행정:용전동) 220,127.430177,36.336496,2020-01-02
2,2020-01-02 13:22:04,13,215,1.0,대전광역시 서구 도안동(행정:가수원동) 1564,127.348042,36.310258,2020-01-02
3,2020-01-02 10:46:31,13,215,2.0,대전광역시 유성구 대정동(행정:진잠동) 1-4,127.336373,36.317773,2020-01-02
4,2020-01-02 13:31:40,13,215,1.0,대전광역시 서구 도안동(행정:가수원동) 1564,127.349462,36.310193,2020-01-02

In [7]:
df=pd.get_dummies(df, columns=['신고자성별'])
df=df.rename(columns={'신고자성별_1.0':'신고_남','신고자성별_2.0':'신고_여','신고자성별_3.0':'신고_불상'})
df.head()

,접수완료일시,경찰청구분,사건,발생주소,경도,위도,date,신고_남,신고_여,신고_불상
0,2020-01-02 15:09:28,13,215,NaN,127.404663,36.341685,2020-01-02,0,1,0
1,2020-01-02 12:33:51,13,215,대전광역시 동구 용전동(행정:용전동) 220,127.430177,36.336496,2020-01-02,1,0,0
2,2020-01-02 13:22:04,13,215,대전광역시 서구 도안동(행정:가수원동) 1564,127.348042,36.310258,2020-01-02,1,0,0
3,2020-01-02 10:46:31,13,215,대전광역시 유성구 대정동(행정:진잠동) 1-4,127.336373,36.317773,2020-01-02,0,1,0
4,2020-01-02 13:31:40,13,215,대전광역시 서구 도안동(행정:가수원동) 1564,127.349462,36.310193,2020-01-02,1,0,0

In [8]:
df['cnt']=1
temp=df.groupby(by='date')['cnt','신고_남','신고_여','신고_불상'].sum().reset_index()
temp=temp.rename(columns={'cnt':'신고건수'})
temp.head()

C:\Users\User\AppData\Local\Temp\ipykernel_12840\3659731936.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  temp=df.groupby(by='date')['cnt','신고_남','신고_여','신고_불상'].sum().reset_index()

         date  신고건수  신고_남  신고_여  신고_불상
0  2020-01-02    29    17     7      5
1  2020-01-03    31    13    17      1
2  2020-01-04     6     2     4      0
3  2020-01-05     2     1     1      0
4  2020-01-06    14     6     6      2

In [9]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1094 non-null   object
 1   신고건수    1094 non-null   int64
 2   신고_남    1094 non-null   uint8
 3   신고_여    1094 non-null   uint8
 4   신고_불상   1094 non-null   uint8
dtypes: int64(1), object(1), uint8(3)
memory usage: 20.4+ KB

In [10]:
temp['date']=pd.to_datetime(temp['date'],format='%Y-%m-%d')
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1094 non-null   datetime64[ns]
 1   신고건수    1094 non-null   int64
 2   신고_남    1094 non-null   uint8
 3   신고_여    1094 non-null   uint8
 4   신고_불상   1094 non-null   uint8
dtypes: datetime64[ns](1), int64(1), uint8(3)
memory usage: 20.4 KB

In [11]:
template=pd.DataFrame(pd.date_range('20200101','20230118',freq='D'), columns=['date'])
template.head(3)

        date
0 2020-01-01
1 2020-01-02
2 2020-01-03

In [12]:
template.tail(3)

           date
1111 2023-01-16
1112 2023-01-17
1113 2023-01-18

In [13]:
template=template.merge(temp,on='date',how='left')
template.head()

        date  신고건수  신고_남  신고_여  신고_불상
0 2020-01-01   NaN   NaN   NaN    NaN
1 2020-01-02  29.0  17.0   7.0    5.0
2 2020-01-03  31.0  13.0  17.0    1.0
3 2020-01-04   6.0   2.0   4.0    0.0
4 2020-01-05   2.0   1.0   1.0    0.0

* 20개 날짜에서 신고건수가 0건
* 해당 NaN값을 어떻게 처리해야 할 지 차후 논의 (단순히 0교체 or 주변값 or interpolate or 다른년도 동월 비교 등)

In [14]:
template['신고건수'].isna().value_counts()

False    1094
True       20
Name: 신고건수, dtype: int64

* '0:월, 1:화, ... ,6:일' 로 요일 컬럼 생성

In [15]:
template['요일']=template['date'].dt.dayofweek
template.head()

        date  신고건수  신고_남  신고_여  신고_불상  요일
0 2020-01-01   NaN   NaN   NaN    NaN   2
1 2020-01-02  29.0  17.0   7.0    5.0   3
2 2020-01-03  31.0  13.0  17.0    1.0   4
3 2020-01-04   6.0   2.0   4.0    0.0   5
4 2020-01-05   2.0   1.0   1.0    0.0   6

* 공휴일 여부 컬럼 생성

In [16]:
cond1=template['요일']==5
cond2=template['요일']==6
template.loc[(cond1|cond2), '공휴일']=1
template.loc[~(cond1|cond2), '공휴일']=0
template.head()

        date  신고건수  신고_남  신고_여  신고_불상  요일  공휴일
0 2020-01-01   NaN   NaN   NaN    NaN   2  0.0
1 2020-01-02  29.0  17.0   7.0    5.0   3  0.0
2 2020-01-03  31.0  13.0  17.0    1.0   4  0.0
3 2020-01-04   6.0   2.0   4.0    0.0   5  1.0
4 2020-01-05   2.0   1.0   1.0    0.0   6  1.0

* 주 단위 Week 컬럼 생성

In [17]:
template['Week']=template['date'].dt.isocalendar().week
template.tail()

           date  신고건수  신고_남  신고_여  신고_불상  요일  공휴일  Week
1109 2023-01-14  12.0   7.0   2.0    3.0   5  1.0     2
1110 2023-01-15   9.0   6.0   2.0    1.0   6  1.0     2
1111 2023-01-16  23.0  11.0  11.0    1.0   0  0.0     3
1112 2023-01-17  23.0  11.0  12.0    0.0   1  0.0     3
1113 2023-01-18  13.0   4.0   7.0    2.0   2  0.0     3

* 요일 컬럼을 '표현하고 싶은 단어의 인덱스에 1의 값을 부여하고, 다른 인덱스에는 0을 부여'하는 원핫인코딩 방식으로 재생성

In [21]:
template=pd.get_dummies(template, columns=['요일'])
template=template.rename(columns={'요일_0':'월요일','요일_1':'화요일','요일_2':'수요일',
                      '요일_3':'목요일','요일_4':'금요일','요일_5':'토요일','요일_6':'일요일'})
template.head()

,date,신고건수,신고_남,신고_여,신고_불상,공휴일,Week,월요일,화요일,수요일,목요일,금요일,토요일,일요일
0,2020-01-01,NaN,NaN,NaN,NaN,0.0,1,0,0,1,0,0,0,0
1,2020-01-02,29.0,17.0,7.0,5.0,0.0,1,0,0,0,1,0,0,0
2,2020-01-03,31.0,13.0,17.0,1.0,0.0,1,0,0,0,0,1,0,0
3,2020-01-04,6.0,2.0,4.0,0.0,1.0,1,0,0,0,0,0,1,0
4,2020-01-05,2.0,1.0,1.0,0.0,1.0,1,0,0,0,0,0,0,1

* 새로운 feature들을 합치기 위한 경제지표 데이터 불러오기

In [31]:
temp=pd.read_csv('경제지표.csv')

In [32]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114 entries, 0 to 1113
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   날짜           1114 non-null   object
 1   금리           1114 non-null   float64
 2   누적확진자수       1114 non-null   float64
 3   확진자수         1114 non-null   float64
 4   소비자물가지수      1114 non-null   float64
 5   비트코인거래량      1114 non-null   float64
 6   네이버_보이스피싱    1114 non-null   float64
 7   다음카카오_보이스피싱  1114 non-null   int64
 8   구글_보이스피싱     1114 non-null   float64
 9   네이버_대출       1114 non-null   float64
 10  다음카카오_대출     1114 non-null   int64
 11  구글_대출        1114 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 104.6+ KB

In [33]:
temp=temp.drop(['구글_대출','날짜'], axis=1)
temp.head()

,금리,누적확진자수,확진자수,소비자물가지수,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출
0,1.25,0.0,0.0,100.09,420280.0,4.18055,7,9.0,11.31068,9
1,1.25,0.0,0.0,100.09,632780.0,10.54166,12,9.0,26.11826,28
2,1.25,0.0,0.0,100.09,936290.0,12.61111,14,9.0,22.39576,23
3,1.25,0.0,0.0,100.09,523910.0,6.76388,11,9.0,12.65998,11
4,1.25,0.0,0.0,100.09,628140.0,6.83333,8,9.0,13.93552,13

In [34]:
r=pd.concat([template, temp],axis=1)
r.head()

,date,신고건수,신고_남,신고_여,신고_불상,공휴일,Week,월요일,화요일,수요일,...,금리,누적확진자수,확진자수,소비자물가지수,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출
0,2020-01-01,NaN,NaN,NaN,NaN,0.0,1,0,0,1,...,1.25,0.0,0.0,100.09,420280.0,4.18055,7,9.0,11.31068,9
1,2020-01-02,29.0,17.0,7.0,5.0,0.0,1,0,0,0,...,1.25,0.0,0.0,100.09,632780.0,10.54166,12,9.0,26.11826,28
2,2020-01-03,31.0,13.0,17.0,1.0,0.0,1,0,0,0,...,1.25,0.0,0.0,100.09,936290.0,12.61111,14,9.0,22.39576,23
3,2020-01-04,6.0,2.0,4.0,0.0,1.0,1,0,0,0,...,1.25,0.0,0.0,100.09,523910.0,6.76388,11,9.0,12.65998,11
4,2020-01-05,2.0,1.0,1.0,0.0,1.0,1,0,0,0,...,1.25,0.0,0.0,100.09,628140.0,6.83333,8,9.0,13.93552,13

In [36]:
r.to_csv('02_수집자료_통합.csv', encoding='cp949',index=False)

In [ ]:
total=pd.read_csv('02_수집자료_통합.csv', encoding='cp949')

* 공휴일 여부 feature 또한 불러와 기존과 merge

In [41]:
holi=pd.read_csv('공휴일.csv', encoding='cp949')
holi.columns=['date','휴일여부']
holi.head()

         date  휴일여부
0  2020-01-01    신정
1  2020-01-24    설날
2  2020-01-25    설날
3  2020-01-26    설날
4  2020-01-27  대체휴일

In [42]:
holi['휴일여부']=1
holi.head()

         date  휴일여부
0  2020-01-01     1
1  2020-01-24     1
2  2020-01-25     1
3  2020-01-26     1
4  2020-01-27     1

In [43]:
total=total.merge(holi, on='date',how='left')

In [44]:
total.head()

,date,신고건수,신고_남,신고_여,신고_불상,공휴일,Week,월요일,화요일,수요일,...,누적확진자수,확진자수,소비자물가지수,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출,휴일여부
0,2020-01-01,NaN,NaN,NaN,NaN,0.0,1,0,0,1,...,0.0,0.0,100.09,420280.0,4.18055,7,9.0,11.31068,9,1.0
1,2020-01-02,29.0,17.0,7.0,5.0,0.0,1,0,0,0,...,0.0,0.0,100.09,632780.0,10.54166,12,9.0,26.11826,28,NaN
2,2020-01-03,31.0,13.0,17.0,1.0,0.0,1,0,0,0,...,0.0,0.0,100.09,936290.0,12.61111,14,9.0,22.39576,23,NaN
3,2020-01-04,6.0,2.0,4.0,0.0,1.0,1,0,0,0,...,0.0,0.0,100.09,523910.0,6.76388,11,9.0,12.65998,11,NaN
4,2020-01-05,2.0,1.0,1.0,0.0,1.0,1,0,0,0,...,0.0,0.0,100.09,628140.0,6.83333,8,9.0,13.93552,13,NaN

In [46]:
total.loc[total['휴일여부'].isna(), '휴일여부']=0
total.head()

,date,신고건수,신고_남,신고_여,신고_불상,공휴일,Week,월요일,화요일,수요일,...,누적확진자수,확진자수,소비자물가지수,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출,휴일여부
0,2020-01-01,NaN,NaN,NaN,NaN,0.0,1,0,0,1,...,0.0,0.0,100.09,420280.0,4.18055,7,9.0,11.31068,9,1.0
1,2020-01-02,29.0,17.0,7.0,5.0,0.0,1,0,0,0,...,0.0,0.0,100.09,632780.0,10.54166,12,9.0,26.11826,28,0.0
2,2020-01-03,31.0,13.0,17.0,1.0,0.0,1,0,0,0,...,0.0,0.0,100.09,936290.0,12.61111,14,9.0,22.39576,23,0.0
3,2020-01-04,6.0,2.0,4.0,0.0,1.0,1,0,0,0,...,0.0,0.0,100.09,523910.0,6.76388,11,9.0,12.65998,11,0.0
4,2020-01-05,2.0,1.0,1.0,0.0,1.0,1,0,0,0,...,0.0,0.0,100.09,628140.0,6.83333,8,9.0,13.93552,13,0.0

* 기타 특이 기간 데이터를 불러와 정기적/비정기적으로 분류 후 기존과 merge

In [48]:
special=pd.read_csv('특이기간.csv', encoding='cp949')
special.head()

,start_date,end_date,contents,기타,출처
0,2020-06-29,2020-09-18,2020 공무원 하계 휴가기간,코로나 이슈로 휴가계획 조정 多\n공무원 휴가 기간으로 갈음,https://www.dailymedipharm.com/news/articleVie...
1,2021-07-23,2021-08-11,2021 하계 휴가기간,데이터 없어서 2022년 갈음(요일),NaN
2,2022-07-22,2022-08-10,2022 하계 휴가철 특별교통대책기간,NaN,http://www.molit.go.kr/USR/NEWS/m_71/dtl.jsp?i...
3,2020-12-23,2020-02-28,2020년 수능 성적 발표~추합 마감,추합 마감일은 전화찬스 고려해서 2월 마지막 근무일로 설정함,NaN
4,2021-12-10,2021-01-26,2021년 수능 성적 발표~추합 마감,NaN,NaN

In [52]:
total['정기적_이벤트']=0
total['비정기적_이벤트']=0

In [57]:
for i in range(6):
    start=total['date']>=special['start_date'][i]
    end=total['date']<=special['end_date'][i]
    total.loc[(start&end),'정기적_이벤트']=1
total['정기적_이벤트'].value_counts()

0    992
1    122
Name: 정기적_이벤트, dtype: int64

In [58]:
for i in range(6,13):
    start=total['date']>=special['start_date'][i]
    end=total['date']<=special['end_date'][i]
    total.loc[(start&end),'비정기적_이벤트']=1
total['비정기적_이벤트'].value_counts()

0    868
1    246
Name: 비정기적_이벤트, dtype: int64

In [59]:
total.head()

,date,신고건수,신고_남,신고_여,신고_불상,공휴일,Week,월요일,화요일,수요일,...,소비자물가지수,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출,휴일여부,정기적_이벤트,비정기적_이벤트
0,2020-01-01,NaN,NaN,NaN,NaN,0.0,1,0,0,1,...,100.09,420280.0,4.18055,7,9.0,11.31068,9,1.0,0,0
1,2020-01-02,29.0,17.0,7.0,5.0,0.0,1,0,0,0,...,100.09,632780.0,10.54166,12,9.0,26.11826,28,0.0,0,0
2,2020-01-03,31.0,13.0,17.0,1.0,0.0,1,0,0,0,...,100.09,936290.0,12.61111,14,9.0,22.39576,23,0.0,0,0
3,2020-01-04,6.0,2.0,4.0,0.0,1.0,1,0,0,0,...,100.09,523910.0,6.76388,11,9.0,12.65998,11,0.0,0,0
4,2020-01-05,2.0,1.0,1.0,0.0,1.0,1,0,0,0,...,100.09,628140.0,6.83333,8,9.0,13.93552,13,0.0,0,0

In [60]:
total.to_csv('03_휴일여부_포함됨.csv', encoding='cp949',index=False)

In [61]:
total=pd.read_csv('03_휴일여부_포함됨.csv', encoding='cp949')

* 보이스피싱 관련 뉴스 데이터를 불러온 후 각 일별 '뉴스개수' feature 생성

In [88]:
news=pd.read_csv('AllNews2.csv')
news.head()

   Unnamed: 0.1  Unnamed: 0         date                               title
0            17          17  2020.01.01.  금감원 대구경북지원 보이스피싱 예방 금융회사 직원들에게 감사장
1           117         117  2020.01.02.      보이스피싱 조직에 대포폰 개통 명의 빌려준 40대 실형
2           123         123  2020.01.02.           보이스피싱 조직단에 대포폰 제공한 40대 실형
3           125         125  2020.01.02.      보이스피싱 조직 알면서...대포폰 개통 40대 '실형'
4           126         126  2020.01.03.                농협 직원들, 보이스피싱 잇따라 막아

In [89]:
news=news.drop(['Unnamed: 0.1','Unnamed: 0'],axis=1)
news.head()

          date                               title
0  2020.01.01.  금감원 대구경북지원 보이스피싱 예방 금융회사 직원들에게 감사장
1  2020.01.02.      보이스피싱 조직에 대포폰 개통 명의 빌려준 40대 실형
2  2020.01.02.           보이스피싱 조직단에 대포폰 제공한 40대 실형
3  2020.01.02.      보이스피싱 조직 알면서...대포폰 개통 40대 '실형'
4  2020.01.03.                농협 직원들, 보이스피싱 잇따라 막아

In [90]:
news['뉴스개수']=1
news=news.groupby(['date']).sum().reset_index()
news.head()

          date  뉴스개수
0  2020.01.01.     1
1  2020.01.02.     3
2  2020.01.03.     3
3  2020.01.04.     4
4  2020.01.06.     4

In [91]:
news['date']=news['date'].str.replace('.','-').str[:-1]
news.head()

C:\Users\User\AppData\Local\Temp\ipykernel_12840\3721285227.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  news['date']=news['date'].str.replace('.','-').str[:-1]

         date  뉴스개수
0  2020-01-01     1
1  2020-01-02     3
2  2020-01-03     3
3  2020-01-04     4
4  2020-01-06     4

In [92]:
total=total.merge(news,on='date',how='left')
total.tail()

,date,신고건수,신고_남,신고_여,신고_불상,공휴일,Week,월요일,화요일,수요일,...,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출,휴일여부,정기적_이벤트,비정기적_이벤트,뉴스개수
1109,2023-01-14,12.0,7.0,2.0,3.0,1.0,2,0,0,0,...,458210.0,10.38888,9,34.0,20.79916,14,0.0,0,0,NaN
1110,2023-01-15,9.0,6.0,2.0,1.0,1.0,2,0,0,0,...,205800.0,10.45833,8,32.0,20.66033,11,0.0,0,0,1.0
1111,2023-01-16,23.0,11.0,11.0,1.0,0.0,3,1,0,0,...,337460.0,18.83333,18,32.0,39.82819,26,0.0,0,0,4.0
1112,2023-01-17,23.0,11.0,12.0,0.0,0.0,3,0,1,0,...,310040.0,21.19444,23,32.0,33.38539,24,0.0,0,0,87.0
1113,2023-01-18,13.0,4.0,7.0,2.0,0.0,3,0,0,1,...,388670.0,21.66666,19,32.0,31.86255,22,0.0,0,0,14.0

In [95]:
total.loc[total['뉴스개수'].isna(),'뉴스개수']=0
total.tail()

,date,신고건수,신고_남,신고_여,신고_불상,공휴일,Week,월요일,화요일,수요일,...,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출,휴일여부,정기적_이벤트,비정기적_이벤트,뉴스개수
1109,2023-01-14,12.0,7.0,2.0,3.0,1.0,2,0,0,0,...,458210.0,10.38888,9,34.0,20.79916,14,0.0,0,0,0.0
1110,2023-01-15,9.0,6.0,2.0,1.0,1.0,2,0,0,0,...,205800.0,10.45833,8,32.0,20.66033,11,0.0,0,0,1.0
1111,2023-01-16,23.0,11.0,11.0,1.0,0.0,3,1,0,0,...,337460.0,18.83333,18,32.0,39.82819,26,0.0,0,0,4.0
1112,2023-01-17,23.0,11.0,12.0,0.0,0.0,3,0,1,0,...,310040.0,21.19444,23,32.0,33.38539,24,0.0,0,0,87.0
1113,2023-01-18,13.0,4.0,7.0,2.0,0.0,3,0,0,1,...,388670.0,21.66666,19,32.0,31.86255,22,0.0,0,0,14.0

In [96]:
total.to_csv('04_뉴스포함.csv', encoding='cp949',index=False)

In [ ]:
total.to_csv('05_확진자수update.csv', encoding='cp949',index=False)

In [3]:
total['date']=pd.to_datetime(total['date'], format='%Y-%m-%d')
total.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114 entries, 0 to 1113
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1114 non-null   datetime64[ns]
 1   신고건수         1094 non-null   float64
 2   신고_남         1094 non-null   float64
 3   신고_여         1094 non-null   float64
 4   신고_불상        1094 non-null   float64
 5   공휴일          1114 non-null   float64
 6   Week         1114 non-null   int64
 7   월요일          1114 non-null   int64
 8   화요일          1114 non-null   int64
 9   수요일          1114 non-null   int64
 10  목요일          1114 non-null   int64
 11  금요일          1114 non-null   int64
 12  토요일          1114 non-null   int64
 13  일요일          1114 non-null   int64
 14  휴일여부         1114 non-null   float64
 15  정기적_이벤트      1114 non-null   int64
 16  비정기적_이벤트     1114 non-null   int64
 17  뉴스개수         1114 non-null   float64
 18  금리           1114 non-null   float64
 19  누적확진자수       1114 non-null   float64
 20  확진자수         1114 non-null   float64
 21  소비자물가지수      1114 non-null   float64
 22  비트코인거래량      1114 non-null   float64
 23  네이버_보이스피싱    1114 non-null   float64
 24  다음카카오_보이스피싱  1114 non-null   int64
 25  구글_보이스피싱     1114 non-null   float64
 26  네이버_대출       1114 non-null   float64
 27  다음카카오_대출     1114 non-null   int64
 28  구글_대출검색      1114 non-null   float64
dtypes: datetime64[ns](1), float64(16), int64(12)
memory usage: 252.5 KB

In [4]:
total_0=total.fillna(0)
total_0[total_0['신고건수']==0].index

Int64Index([  0,  25,  74,  81, 200, 274, 326, 327, 328, 329, 330, 331, 332,
            333, 334, 409, 629, 762, 850, 983],
           dtype='int64')

In [5]:
total_0=total_0.set_index("date")
total_0.head()

,신고건수,신고_남,신고_여,신고_불상,공휴일,Week,월요일,화요일,수요일,목요일,...,누적확진자수,확진자수,소비자물가지수,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출,구글_대출검색
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,0.0,0.0,0.0,0.0,0.0,1,0,0,1,0,...,0.0,0.0,100.09,420280.0,4.18055,7,2.25,11.31068,9,19.75
2020-01-02,29.0,17.0,7.0,5.0,0.0,1,0,0,0,1,...,0.0,0.0,100.09,632780.0,10.54166,12,2.25,26.11826,28,19.75
2020-01-03,31.0,13.0,17.0,1.0,0.0,1,0,0,0,0,...,0.0,0.0,100.09,936290.0,12.61111,14,2.25,22.39576,23,19.75
2020-01-04,6.0,2.0,4.0,0.0,1.0,1,0,0,0,0,...,0.0,0.0,100.09,523910.0,6.76388,11,2.25,12.65998,11,19.75
2020-01-05,2.0,1.0,1.0,0.0,1.0,1,0,0,0,0,...,0.0,0.0,100.09,628140.0,6.83333,8,2.25,13.93552,13,19.75

- 은행영업일이면 1, 주말이거나 공휴일이어서 영업을 하지 않는 날에는 0

In [6]:
cond1=total_0['공휴일']==0
cond2=total_0['휴일여부']==0
total_0.loc[cond1&cond2,'은행영업일']=1
total_0.loc[~(cond1&cond2),'은행영업일']=0
total_0

,신고건수,신고_남,신고_여,신고_불상,공휴일,Week,월요일,화요일,수요일,목요일,...,확진자수,소비자물가지수,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출,구글_대출검색,은행영업일
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,0.0,0.0,0.0,0.0,0.0,1,0,0,1,0,...,0.0,100.09,420280.0,4.18055,7,2.25,11.31068,9,19.75,0.0
2020-01-02,29.0,17.0,7.0,5.0,0.0,1,0,0,0,1,...,0.0,100.09,632780.0,10.54166,12,2.25,26.11826,28,19.75,1.0
2020-01-03,31.0,13.0,17.0,1.0,0.0,1,0,0,0,0,...,0.0,100.09,936290.0,12.61111,14,2.25,22.39576,23,19.75,1.0
2020-01-04,6.0,2.0,4.0,0.0,1.0,1,0,0,0,0,...,0.0,100.09,523910.0,6.76388,11,2.25,12.65998,11,19.75,0.0
2020-01-05,2.0,1.0,1.0,0.0,1.0,1,0,0,0,0,...,0.0,100.09,628140.0,6.83333,8,2.25,13.93552,13,19.75,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-14,12.0,7.0,2.0,3.0,1.0,2,0,0,0,0,...,36552.0,110.10,458210.0,10.38888,9,8.50,20.79916,14,24.00,0.0
2023-01-15,9.0,6.0,2.0,1.0,1.0,2,0,0,0,0,...,32570.0,110.10,205800.0,10.45833,8,8.00,20.66033,11,23.00,0.0
2023-01-16,23.0,11.0,11.0,1.0,0.0,3,1,0,0,0,...,14144.0,110.10,337460.0,18.83333,18,8.00,39.82819,26,23.00,1.0
2023-01-17,23.0,11.0,12.0,0.0,0.0,3,0,1,0,0,...,40199.0,110.10,310040.0,21.19444,23,8.00,33.38539,24,23.00,1.0
2023-01-18,13.0,4.0,7.0,2.0,0.0,3,0,0,1,0,...,36908.0,110.10,388670.0,21.66666,19,8.00,31.86255,22,23.00,1.0

In [7]:
total_0=total_0.drop(['신고_남','신고_여','신고_불상'],axis=1)
total_0

,신고건수,공휴일,Week,월요일,화요일,수요일,목요일,금요일,토요일,일요일,...,확진자수,소비자물가지수,비트코인거래량,네이버_보이스피싱,다음카카오_보이스피싱,구글_보이스피싱,네이버_대출,다음카카오_대출,구글_대출검색,은행영업일
date,,,,,,,,,,,,,,,,,,,,,
2020-01-01,0.0,0.0,1,0,0,1,0,0,0,0,...,0.0,100.09,420280.0,4.18055,7,2.25,11.31068,9,19.75,0.0
2020-01-02,29.0,0.0,1,0,0,0,1,0,0,0,...,0.0,100.09,632780.0,10.54166,12,2.25,26.11826,28,19.75,1.0
2020-01-03,31.0,0.0,1,0,0,0,0,1,0,0,...,0.0,100.09,936290.0,12.61111,14,2.25,22.39576,23,19.75,1.0
2020-01-04,6.0,1.0,1,0,0,0,0,0,1,0,...,0.0,100.09,523910.0,6.76388,11,2.25,12.65998,11,19.75,0.0
2020-01-05,2.0,1.0,1,0,0,0,0,0,0,1,...,0.0,100.09,628140.0,6.83333,8,2.25,13.93552,13,19.75,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-01-14,12.0,1.0,2,0,0,0,0,0,1,0,...,36552.0,110.10,458210.0,10.38888,9,8.50,20.79916,14,24.00,0.0
2023-01-15,9.0,1.0,2,0,0,0,0,0,0,1,...,32570.0,110.10,205800.0,10.45833,8,8.00,20.66033,11,23.00,0.0
2023-01-16,23.0,0.0,3,1,0,0,0,0,0,0,...,14144.0,110.10,337460.0,18.83333,18,8.00,39.82819,26,23.00,1.0
2023-01-17,23.0,0.0,3,0,1,0,0,0,0,0,...,40199.0,110.10,310040.0,21.19444,23,8.00,33.38539,24,23.00,1.0
2023-01-18,13.0,0.0,3,0,0,1,0,0,0,0,...,36908.0,110.10,388670.0,21.66666,19,8.00,31.86255,22,23.00,1.0

In [8]:
total_0.to_csv('06_은행영업일.csv', encoding='cp949',index=True)